<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds" debug="true">

    <!-- 定义日志的根目录 -->
    <property scope="system" name="logDir" value="/apps/logs"/>
    <!-- 定义日志文件名称 -->
    <property scope="system" name="appName" value="melon"/>
    <!-- 定义日志编码 -->
    <property scope="system" name="charset" value="UTF-8"/>
    <property scope="system" name="consolePattern"
              value="%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file: %line] %msg%n"/>
    <property scope="system" name="pattern"
              value="%date{yyyy-MM-dd HH:mm:ss.SSS} [%X{source}] [%X{tid}] [%X{app}] [%thread] %-5level %logger{36} [%file: %line] %msg%n"/>

    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${consolePattern}</pattern>
            <charset>${charset}</charset>
        </encoder>
    </appender>

    <appender name="infoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/${appName}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/${appName}/info.log.%d{yyyy-MM-dd}.zip</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
            <charset>${charset}</charset>
        </encoder>
    </appender>

    <appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/${appName}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/${appName}/error.log.%d{yyyy-MM-dd}.zip</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
            <charset>${charset}</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="asyncInfoLog" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>100</queueSize>
        <maxFlushTime>3000</maxFlushTime>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <appender-ref ref="infoFile"/>
    </appender>

    <appender name="asyncErrorLog" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>100</queueSize>
        <maxFlushTime>3000</maxFlushTime>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <appender-ref ref="errorFile"/>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="consoleLog"/>
            <appender-ref ref="asyncInfoLog"/>
            <appender-ref ref="asyncErrorLog"/>
        </root>
        <logger name="org.mybatis" level="DEBUG"/>
        <logger name="fun.sssdnsy.melon" level="DEBUG"/>
        <logger name="org.jboss.logging" level="INFO"/>
        <logger name="org.springframework" level="INFO" additivity="false"></logger>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="consoleLog"/>
            <appender-ref ref="asyncInfoLog"/>
            <appender-ref ref="asyncErrorLog"/>
        </root>
        <logger name="org.springframework" level="debug" additivity="false"></logger>
    </springProfile>

</configuration>
