<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.sssdnsy.mapper.XxlConfProjectDao">

    <resultMap id="xxlConfProject" type="fun.sssdnsy.domain.XxlConfProject">
        <result column="appname" property="appname" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
		t.`appname`,
		t.`title`,
        t.`create_by`,
		t.`create_time`,
		t.`update_by`,
		t.`update_time`
	</sql>

    <select id="list" parameterType="java.util.Map" resultMap="xxlConfProject">
        SELECT
        <include refid="Base_Column_List"/>
        FROM xxl_conf_project AS t
        <where>
            1=1
            <if test="appname != null and appname != ''">
                AND appname like concat('%', #{appname}, '%')
            </if>
            <if test="title != null and title != ''">
                AND title = #{title}
            </if>
        </where>
        ORDER BY t.appname
    </select>

    <select id="getOne" parameterType="java.util.Map" resultMap="xxlConfProject">
        SELECT
        <include refid="Base_Column_List"/>
        FROM xxl_conf_project AS t
        <where>
            1=1
            <if test="appname != null and appname != ''">
                AND appname like concat('%', #{appname}, '%')
            </if>
        </where>
    </select>

    <select id="findAll" parameterType="java.util.Map" resultMap="xxlConfProject">
        SELECT
        <include refid="Base_Column_List"/>
        FROM xxl_conf_project AS t
        ORDER BY t.appname
    </select>

    <insert id="save" parameterType="fun.sssdnsy.domain.XxlConfProject">
		INSERT INTO xxl_conf_project(appname, title)
		VALUES(#{appname}, #{title})
	</insert>

    <update id="update" parameterType="fun.sssdnsy.domain.XxlConfProject">
		UPDATE xxl_conf_project
		SET title = #{title}
		WHERE appname = #{appname}
	</update>

    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM xxl_conf_project
        WHERE appname in
        <foreach item="appname" collection="appname" open="(" separator="," close=")">
            #{appname}
        </foreach>
    </delete>

    <select id="load" parameterType="java.lang.String" resultMap="xxlConfProject">
        SELECT
        <include refid="Base_Column_List"/>
        FROM xxl_conf_project AS t
        WHERE appname = #{appname}
    </select>

</mapper>
