<!DOCTYPE html>
<html layout:decorate="~{fragment/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List User</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.12.1/b-2.2.3/sl-1.4.0/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/editor.dataTables.min.css}">

</head>
<body>


<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>User List</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item "><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">user1</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">User1 DataTable with default features</h3>
                        </div>
                        <div class="card-body">
                            <div class="dataTables_wrapper dt-bootstrap4" id="userTable_wrapper">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table aria-describedby="userTable_info"
                                               class="table table-bordered table-striped dataTable dtr-inline"
                                               id="userTable">
                                            <thead>
                                            <tr>
                                                <th colspan="1" rowspan="1">id</th>
                                                <th colspan="1" rowspan="1">userName</th>
                                                <th colspan="1" rowspan="1" style="">mobile</th>
                                                <th colspan="1" rowspan="1" style="">email</th>
                                                <th colspan="1" rowspan="1" style="">status</th>
                                                <th colspan="1" rowspan="1" style="">createTime</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th colspan="1" rowspan="1">id</th>
                                                <th colspan="1" rowspan="1">userName</th>
                                                <th colspan="1" rowspan="1" style="">mobile</th>
                                                <th colspan="1" rowspan="1" style="">email</th>
                                                <th colspan="1" rowspan="1" style="">status</th>
                                                <th colspan="1" rowspan="1" style="">createTime</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Main content -->

</div>
</body>

<th:block layout:fragment="script">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

    <script type="text/javascript"
            src="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.12.1/b-2.2.3/sl-1.4.0/datatables.min.js"></script>
    <script type="text/javascript" th:src="@{/static/js/dataTables.editor.min.js}"></script>

    <script>
        console.log("User List: dataTables.js");
        let userTable

        function buildAjax(url, method) {
            let ajaxObj = {
                'url': url || '/user/page',
                'method': method || 'GET',
                'dataType': 'json',
                'data': {
                    'size': userTable ? userTable.page.info().size || 5 : 5,
                    'page': userTable ? userTable.page.info().page || 0 : 0,
                },
                'dataFilter': function (data) {
                    let json = jQuery.parseJSON(data);
                    json.recordsTotal = json.data.totalElements;
                    json.recordsFiltered = json.recordsTotal;
                    json.data = json.data.content;
                    return JSON.stringify(json); // return JSON string
                },
                'error': function (data) {
                    alert(data)
                }
            }
            return ajaxObj;
        }

        $(function () {
            let userEditor = new $.fn.dataTable.Editor({
                ajax: "/user/save",
                table: "#users",
                fields: [
                    {label: "username:", name: "username"},
                    {label: "mobile:", name: "mobile"},
                    {label: "email:", name: "email"},
                    {label: "status:", name: "status"},
                    {label: "createTime:", name: "createTime"}
                ]
            });

            userTable = $('#userTable').DataTable({
                "serverSide": true,
                'paging': true,
                'processing': true,
                "responsive": true, "lengthChange": false, "autoWidth": false, dom: "Bfrtip",
                "buttons": [
                    {
                        extend: 'copy',
                        text: 'Copy '
                    },
                    "copy", "csv", "excel", "pdf", "print", "colvis",
                    {extend: 'copy', text: 'Copy '},
                    {extend: "create", editor: userEditor},
                    {extend: "edit", editor: userEditor},
                    {extend: "remove", editor: userEditor}],
                "info": true,
                "search": true,
                'ajax': buildAjax("/user/page", "GET"),
                'columns': [
                    {data: 'id'},
                    {data: 'username'},
                    {data: 'mobile'},
                    {data: 'email'},
                    {data: 'status'},
                    {data: 'createTime'},
                ],
            });
            let info = userTable.page.info();
            userTable.buttons().container().appendTo('#userTable_wrapper  col-md-6:eq(0)');
            /*
                        $('#userTable').on('click', 'tbody.inline td:not(.select-checkbox,.control,.child), tbody.inline li span.dtr-data', function (e) {
                            userEditor.inline(this, {
                                onBlur: 'submit'
                            });
                        });

                        $('#userTable').on('click', 'tbody.bubble td:not(.select-checkbox,.control,.child), tbody.bubble li span.dtr-data', function (e) {
                            userEditor.bubble(this);
                        });
                        $('#previous').on('click', function () {
                            userTable.page('previous').draw('page');
                            console.log("page previous click")
                        });
                        $('#next').on('click', function () {
                            userTable.page('next').draw('page');
                            console.log("page next click")
                        });

                        $('#userTable').on('page.dt', function () {
                            var info = userTable.page.info();
                            console.log(info)
                            userTable.ajax=buildAjax(null,null,info.size,info.page);
                            userTable.draw()
                        });*/
        });

    </script>
</th:block>

</html>
